<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This Site was Created by Yash Thakker. It uses data from mapbox.com and darksky.net!</p>
        <img src="https://m.media-amazon.com/images/M/MV5BMzgxMmQxZjQtNDdmMC00MjRlLTk1MDEtZDcwNTdmOTg0YzA2XkEyXkFqcGdeQXVyMzQ2MDI5NjU@._V1_.jpg"
            alt="" class="potrait">
    </div>
    {{>footer}}
</body>

</html>